[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
ipython = "*"
ipdb = "*"
pytest = "*"

[packages]
aiogram = "*"
aiohttp = "*"
python-decouple = "*"
requests = "*"
transitions = "*"
Jinja2 = "*"
async-lru = "*"
motor = "*"
pymongo = {extras = ["srv"],version = "*"}
sentry-sdk = "*"
click = "*"
aiocache = {extras = ["redis"],version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
